/*Chart Area*/
.c3 svg {
  font: 10px sans-serif;
}

.c3 path, .c3 line {
  fill: none;
  stroke: #000;
}

.c3-chart-arc path {
  stroke: #fff;
}

.c3-chart-arc rect {
  stroke: white;
  stroke-width: 1;
}

.c3-chart-arc text {
  fill: #fff;
  font-size: 13px;
}

/*Chart Axis*/
.c3-grid line {
  stroke: #aaa;
}

.c3-grid text {
  fill: #aaa;
}

.c3-xgrid, .c3-ygrid {
  stroke-dasharray: 3 3;
}

/*Chart Text*/
.c3-text.c3-empty {
  fill: #808080;
  font-size: 2em;
}

/*Line*/
.c3-line {
  stroke-width: 1px;
}

.chartStyle {
  height: 150px;
  width: 300px;
  margin: 0;
}
