  <header>
    <div class="wrapper clearfix header-content">
      <div class="header-title">
        <h2>Azure Service Fabric</h2>
        <h1>Data Aggregation</h1>
      </div>
      <div class="header-login">
        <div class="login-user">
          <div>welcome</div>
          <h3></h3>
        </div>
      </div>
    </div>
  </header>
  <section id="main" class="wrapper clearfix">
    <div id="infoDiv">
      <div id="userInfo" class="infoBox">
        <div id="userStats">
          <h4>Your Stress Dashboard</h4>
          <div class="loadingMessage">Gathering data...</div>
          <div id="userInfo-userHealthIndex" class="name-and-healthbox clearfix"></div>
          <div id="userInfo-countyHealthIndex" class="name-and-healthbox clearfix"></div>
          <div id="userUnfo-detailStats">
            <div id="heartRateTable" class="chartStyle"></div>
            <h3>Heart Rate</h3>
            <app-line-chart [deviceId]="deviceId"></app-line-chart>
          </div>
        </div>
        <div id="doctorListStats">
          <h4>Doctors in your county</h4>
          <div class="loadingMessage">Gathering data...</div>
          <ul class="countyDoctorList"></ul>
        </div>
      </div>
    </div>
    <div id="map">
      <div id="dataStats" *ngIf="statsData">
        <ul>
          <li><span class="statsLabel">Devices:</span><span id="bandsStats">{{statsData.patientCount}}</span></li>
          <li><span class="statsLabel">Doctors:</span><span id="doctorsStats">{{statsData.doctorCount}}</span></li>
          <li><span class="statsLabel">Health Reports:</span><span id="healthReportsStats">{{statsData.healthReportCount}}</span></li>
          <li><span class="statsLabel">Avg. Reports/Sec:</span><span id="messageRate">{{averageData.currentAverage}}</span></li>
        </ul>
      </div>
      <div id="mapContainer">
        <app-data-map [mapData]="mapData"></app-data-map>
      </div>
    </div>
  </section>
